<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Data Tables CSS -->

    <!-- Data Tables CSS with Extension features -->
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.21/b-1.6.3/b-html5-1.6.3/datatables.min.css" />

    <title>Hello, world!</title>
</head>

<body>
    <h1>Hello, world!</h1>
    <!-- THE DATE RANGE FILTER, I SEARCHED THE DEPTHS OF GOOGLE AND STACKOVERFLOW JUST TO find the simplest implementation, yes am stuped and lazy-->
    <p>FROM</p>
    <input id="min" name="min" type="date">
    <p>TO</p>
    <input id="max" name="max" type="date">
    <!-- RESET BUTTONNNNNNN, USE IT WELL kay i spent a long time and 20 tabs of stackoverflow implementing this -->
    <button id="resetDateRange" name="resetDateRange" class="btn-primary">Reset</button>

    <!-- YUP JUST A TABLE, Im using the api to create the table, you'll see in the scripts section -->
    <table id="sample" class="table table-responsive-md customDataTable table-custom-bg table-hover">
    </table>


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <!-- DataTables js with extensions for print copy pdf-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript"
        src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.21/b-1.6.3/b-flash-1.6.3/b-html5-1.6.3/b-print-1.6.3/datatables.min.js"></script>

    <!-- HELLO THERE, IMPLEMENTATIONS BELOW -->
    <script>
        $(document).ready(function () {
            //This uses uhmmm, javascript way of loading the data
            

            let dataset = [
                ["Tiger Nixon", "System Architect", "Edinburgh", "5421", "2011/04/25", "$320,800"],
                ["Garrett Winters", "Accountant", "Tokyo", "8422", "2011/07/25", "$170,750"],
                ["Ashton Cox", "Junior Technical Author", "San Francisco", "1562", "2009/01/12", "$86,000"],
                ["Cedric Kelly", "Senior Javascript Developer", "Edinburgh", "6224", "2012/03/29", "$433,060"],
                ["Airi Satou", "Accountant", "Tokyo", "5407", "2008/11/28", "$162,700"],
                ["Brielle Williamson", "Integration Specialist", "New York", "4804", "2012/12/02", "$372,000"],
                ["Herrod Chandler", "Sales Assistant", "San Francisco", "9608", "2012/08/06", "$137,500"],
                ["Rhona Davidson", "Integration Specialist", "Tokyo", "6200", "2010/10/14", "$327,900"],
                ["Colleen Hurst", "Javascript Developer", "San Francisco", "2360", "2009/09/15", "$205,500"],
                ["Sonya Frost", "Software Engineer", "Edinburgh", "1667", "2008/12/13", "$103,600"],
                ["Jena Gaines", "Office Manager", "London", "3814", "2008/12/19", "$90,560"],
                ["Quinn Flynn", "Support Lead", "Edinburgh", "9497", "2013/03/03", "$342,000"]
            ];
            let initialTableSettings = {
                searching: true,
                buttons: [
                    'print', 'copy', 'pdf', 'excel'
                ],
                dom: 'Bfrtip',
                data: dataset,
                columns: [
                    { title: "Name" },
                    { title: "Position" },
                    { title: "Office" },
                    { title: "Extn." },
                    { title: "Start date" },
                    { title: "Salary" }
                ]
            }
            //Creates the table with the settings above
            let table = $('#sample').DataTable(initialTableSettings);

            //This is the logic that we will use in order to filter the table
            let dateRangeFunc = function (settings, data, dataIndex) {
                    let min = new Date($('#min').val()).getTime();
                    let max = new Date($('#max').val()).getTime();
                    let date = new Date(data[4]).getTime(); // use data for the column to range filter
                    if ( min <= date && date <= max ) {
                        return true;
                    }
                    return false;
                }
            //Sooo, here we will put the custom date range filter to the table
            $.fn.dataTable.ext.search.push(dateRangeFunc);

            //NOW, we need to refresh the table each time so that we could see the filtered data!
            $('#min, #max').change( function() {
                table.draw();//Artist maning javascript diay
            });

            //Resetting the table
            $('#resetDateRange').click( function() {
                $("input[type=date][name$=min]").val('');
                $("input[type=date][name$=max]").val('');
                //Removes the filter or else the previous range will still be applied
                $.fn.dataTable.ext.search.pop();
                //DESTROY THY TABLE
                table.destroy();
                //Breathe life to a new table, inefficient i know.
                table = $('#sample').DataTable(initialTableSettings);
                //Reattach thy damn filter
                $.fn.dataTable.ext.search.push(dateRangeFunc);
            });
        });
    </script>
</body>

</html>